.book__list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.card {
    text-align: center;
    img {
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.card:hover {
    background: #aeda74;
    cursor: pointer;
}
